<!doctype html>
<html  lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
        <script rel="javascript" type="module" src="/javascripts/main.js"></script>

        <div id='juego' style="margin: 0">
  </body>
</html>